/************* gallery ************/
.img_header2 {
    width: 100%;
    margin-top: 12px;
}
.box_slogan2{
    width: 834px;
    height: 124px;
    background: #FDECE1;
    position: absolute;
    left: 232px;
    top: 274px;
    z-index: 2;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);}
.title_slogan4 {
    font-size: 21px;
    color: #003838;
    display: flex;
    margin-left: 351px;
    MARGIN-TOP: 15px;
    height: 68px;
}  
.slogan2{
    height: 11px;
    font-size: 15px;
    color: #000000;
    display: flex;
    align-items: center;
    margin-left: 174px;
    margin-top: -44px;
}  
.btn_slogan2{
    font-size: 14px;
    width: 237px;
    height: 28px;
    position: absolute;
    left: 289px;
    top: 79px;
    background-color: #E2B595;
    border: none;
    color: #5E5D5D;
}
.our_gallery{
    width: 52%;
    margin-left: 323px;
    margin-top: 160px;
}
.img_gallery{
    width: 100%;
}
.flex_gallery1{
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 2px;
}
.flex_gallery2{
    width: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.power{
    height: 203px;
    margin-top: 83px;
}
.title_power{
    color: #003838;
    font-family: 'Italiana';
    font-size: 35px;
    text-align: center;
}
.text_power{
    color: #000000; 
    font-size: 17px;
    text-align: center;
}